
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/misc.xml
/.idea/libraries
.DS_Store
/build
/captures
app/src/main/java/clientefeedback/aplicacaocliente/MainActivityBackup.java
app/src/main/java/clientefeedback/aplicacaocliente/Busca/BuscaFragmentBackup2.java
app/src/main/java/clientefeedback/aplicacaocliente/MainActivityBackup.java